body {
    background-image: url("ssss.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


h3 {
    color: #2c3e50;
    font-family: "Roboto Slab", serif;   
    
}


/* --------------------------------------------------------------------------------------CSS for the pizza page -------------------------------------------------------------------------*/
#box1-pizza {
    margin: 0 auto; /* Centers the list horizontally */
    text-align: center; /* Aligns the text inside the list */
    width: fit-content; /* Shrinks the list width to fit its content */
    margin-bottom: 20px; /* Adds some space below the list */
    font-size: large;
    font-family: "Lato", sans-serif;
}

#pizza-main-title {
    font-family: "Sacramento", cursive;
    font-size: 60px;
    margin-left: 1px;
}

#pizza-image {
    margin-left: 20px;
}
#box2-pizza {
    margin: 0 auto; /* Centers the list horizontally */
    text-align: center; /* Aligns the text inside the list */
    width: fit-content; /* Shrinks the list width to fit its content */
    margin-bottom: 20px; /* Adds some space below the list */
    font-size: large;
    font-family: "Lato", sans-serif; 
}

#box3-pizza {
    margin: 0 auto; /* Centers the list horizontally */
    text-align: center; /* Aligns the text inside the list */
    width: fit-content; /* Shrinks the list width to fit its content */
    margin-bottom: 20px; /* Adds some space below the list */
    font-size: large;
    font-family: "Lato", sans-serif;
}

#box4-pizza a{
    color: black;
}
#box4-pizza a:hover{
    color: gold;
}
/* ------------------------------------------------------------------------------------------CSS for the lasagna page------------------------------------------------------------------ */

#box1-lasagna {
    text-align: center;
}
#lasagna-main-title {
    margin-left: 1px;
    font-family: "Sacramento", cursive;
    font-size: 60px;
}
#box2-lasagna {
    line-height: 10px;
    font-size: large;
    text-align: center;
    font-family: "Lato", sans-serif;
}
#box3-lasagna {
    margin: 0 auto; /* Centers the list horizontally */
    text-align: center; /* Aligns the text inside the list */
    width: fit-content; /* Shrinks the list width to fit its content */
    margin-bottom: 20px; /* Adds some space below the list */
    font-size: large;
    font-family: "Lato", sans-serif;
}

#box4-lasagna {
    margin: 0 auto; /* Centers the list horizontally */
    text-align: center; /* Aligns the text inside the list */
    width: fit-content; /* Shrinks the list width to fit its content */
    margin-bottom: 20px; /* Adds some space below the list */
    font-size: large;
    font-family: "Lato", sans-serif;
}



#box5-lasagna a{
    color: black;
}
#box5-lasagna a:hover{
    color: gold;
}
.more-recipes {
    margin-left: 800px;
    margin-bottom: 1px;
    color: orange;
    text-decoration: underline;
    font-size: xx-large;
}

.more-recipes-list {
    font-size: xx-large;
    margin-left: 810px;
}

.titles {
    margin-bottom: 1px;
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
}


/* -------------------------------------------------------------------------------------------CSS for the index page----------------------------------------------------------------------- */
#box1-index {
    background-color: #a98467;
    border-color: #a98467;
    border-width: 5px;
    border-top-style: outset;
    border-bottom-style: outset;
    border-right-style: outset ;
    border-left-style: outset;
    margin-top: 15px;
    margin-left: 200px;
    font-family: "Sacramento", cursive;
    border-radius:20px;
    width: 550px;
    padding-right: 5px;
    padding-left: 5px;
}


#box2-index  {
    background-color: #a98467;
    border-style: outset;
    border-color: #a98467;
    margin-top: 100px;
    margin-left: 270px;
    border-width: 5px;
    border-radius: 20px;
    padding-right:70px;
    padding-left: 10px;
    font-size: 40px;
    width: 125px;
    font-family: "Sacramento", cursive;
    font-weight: bold;
}

#box2-index a{
    color: black;
}

#box2-index a:hover{
    color: wheat
}

