/* --------------------------------------------------------------------------------------CSS for the pizza page -------------------------------------------------------------------------*/
#box1-pizza {
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif; 
}

#pizza-main-title {
    font-family: "Sacramento", cursive;
    font-size: 60px;
    margin-left: 1px;
}

#pizza-image {
    margin-left: 20px;
}
#box2-pizza {
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif; 
}

#box3-pizza {
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif; 
}

#box4-pizza a{
    color: black;
}
#box4-pizza a:hover{
    color: gold;
}
/* ------------------------------------------------------------------------------------------CSS for the lasagna page------------------------------------------------------------------ */

#box1-lasagna {
    text-align: center;
}
#lasagna-main-title {
    margin-left: 1px;
    font-family: "Sacramento", cursive;
    font-size: 60px;
}
#box2-lasagna {
    line-height: 10px;
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif; 
}
#box3-lasagna {
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif; 
    line-height: 25px;
}

#box4-lasagna {
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif; 
}

#box5-lasagna a{
    color: black;
}
#box5-lasagna a:hover{
    color: gold;
}
.more-recipes {
    margin-left: 800px;
    margin-bottom: 1px;
    color: orange;
    text-decoration: underline;
    font-size: xx-large;
}

.more-recipes-list {
    font-size: xx-large;
    margin-left: 810px;
}



/* -------------------------------------------------------------------------------------------CSS for the index page----------------------------------------------------------------------- */
#box1-index {
    border-style: outset;
    background-color: #a98467;
    border-color: #a98467;
    text-align: center;
    line-height: center;
    width: 650px;
    border-width: 5px;
    border-radius:20px;    
    font-family: "Sacramento", cursive;
    position: relative;
    left: 600px;
    top: 25px;
}


#box2-index  {
    border-style: outset;
    width: 200px;
    text-align: center;
    background-color: #a98467;
    border-color: #a98467;
    border-width: 5px;
    border-radius: 20px;
    font-size: 40px;    
    font-family: "Sacramento", cursive;
    font-weight: bold;
    position: relative;
    left: 850px;
    top: 50px;
}


#box2-index a{
    color: black;
}

#box2-index a:hover{
    color: wheat
}

.boxes-index {
    float: left;
}
#couscous-picture {
    border: 5px solid wheat;
    position: relative;
    top: 90px;
    left: 680px;
}
#pizza-picture {
    border: 5px solid wheat;
    position: relative;
    top: 90px;
    left: 800px;
}
#lasagna-picture {
    border: 5px solid wheat;
    position: relative;
    top: 90px;
    left:20px;
}


/*-------------------------------------------------------------------------------------------CSS for the CousCous page----------------------------------------------------------------------- */
#couscous-main-title {
    font-family: "Sacramento", cursive;
    font-size: 60px;
    margin-left: 1px;
}
#box1-couscous {
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif;  

}

#box2-couscous {
    text-align: center; /* Aligns the text inside the list */
    font-size: large;
    font-family: "Lato", sans-serif;  
}
#box3-couscous a{
    color: black;
}
#box3-couscous a:hover{
    color: gold;
}

.ul {
    list-style-position: inside;
    margin-left: 11px;
}

/*-------------------------------------------------------------------------------------------common things----------------------------------------------------------------------- */
.titles {
    line-height: 1px;
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
}

body {
    background-image: url("ssss.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


h3 {
    color: #2c3e50;
    font-family: "Roboto Slab", serif;   
    
}